* {
    padding: 0%;    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
body{
  
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a {
  color: #000; /* color de texto predeterminado */
  text-decoration: none; /* eliminar subrayado predeterminado */
  position: relative; /* agregar posicionamiento relativo */
}

a:hover {
  color: #ff69b4; /* cambiar color de texto al pasar el cursor */
}

a::before {
  content: ''; /* agregar contenido antes del enlace */
  position: absolute; /* agregar posicionamiento absoluto */
  width: 100%; /* ancho del enlace */
  height: 2px; /* altura de la línea */
  bottom: 0; /* alinear en la parte inferior */
  left: 0; /* alinear a la izquierda */
  background-color: #ff69b4; /* color de la línea */
  visibility: hidden; /* ocultar la línea por defecto */
  transform: scaleX(0); /* escalar la línea horizontalmente a 0 */
  transition: all 0.3s ease-in-out; /* transición suave */
}

a:hover::before {
  visibility: visible; /* mostrar la línea al pasar el cursor */
  transform: scaleX(1); /* escalar la línea horizontalmente a 1 */
}

a::after {
  content: ''; /* agregar contenido después del enlace */
  position: absolute; /* agregar posicionamiento absoluto */
  width: 10px; /* ancho del icono */
  height: 10px; /* altura del icono */
  background-color: #ff69b4; /* color del icono */
  border-radius: 50%; /* agregar bordes redondeados */
  opacity: 0; /* ocultar el icono por defecto */
  transform: translate(-50%, -50%) scale(0); /* mover y escalar el icono */
  transition: all 0.3s ease-in-out; /* transición suave */
}

a:hover::after {
  opacity: 1; /* mostrar el icono al pasar el cursor */
  transform: translate(-50%, -50%) scale(1); /* mover y escalar el icono */
}
