* {
    padding: 0%;
    font-family: 'Montserrat', sans-serif; 
    /*
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    */
    text-align: center;
}
.Titulo{
    text-align: center;
}

body {
    background-color: lightblue;
    text-align: center;
    padding: 50px;
  }

  button {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  button:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
  }