* {
    padding: 0%;
    font-family: 'Montserrat', sans-serif; 
    /*
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    */
    text-align: center;
}
.Titulo{
    text-align: center;
}
form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  label {
    font-size: 18px;
    margin-right: 10px;
  }
  input[type="number"] {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: steelblue;
    color: white;
    cursor: pointer;
    margin-top: 20px;
  }
  h3 {
    font-size: 24px;
    color: steelblue;
    margin-top: 50px;
  }
  #resultado {
    font-size: 18px;
    color: steelblue;
    margin-top: 20px;
  }