* {
    padding: 0%;
    background-color: rgba(72, 244, 187, 0.03);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.problema-content{
    width: 100%;
    background-color: rgba(72, 244, 187, 0.03);
    color: rgb(8, 130, 236);
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animacion_test 5s alternate infinite;
}
@keyframes animacion_test{
    from{
        background-color: rgba(72, 244, 78, 0.03);
    }
    to{
        background-color: rgba(244, 161, 72, 0.03);
    }
}